body {
    margin : 0; 
    letter-spacing : 0.5px;
    font-family : sans-serif;
}

/* navigation bar */
.navbar {
    height: 40px;
    background-color: #08ECC4;
    padding : 15px 15px ;
}

.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 550;
}

.profile {
    font-weight : bold;
}

.topnav-left {
    float : left;
}

.topnav-right {
    float : right;
    margin-right: 20px;
}

nav ul { 
    position: relative;
    list-style: none; 
    margin: 0; 
    padding: 0; 
} 
   
nav ul li { 
    display: inline-block; 
} 

nav ul li a .logo {
    font-size : 20px;
}
   
nav ul li a { 
    display: block; 
    padding: 10px 17px;
    text-decoration: none; 
    font-size : 14px;
    color : black;
} 
   
nav ul li + li { 
    margin-left: 10px;
} 

/* Dropdown Menu Styles */
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.service, .profile {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.down-arrow{
    width: 15px;
    height: 15px;
    margin-left: -10px;
    margin-top: 2px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #B09CFC;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    border-radius: 7px;
    font-size: 13px;
    right: 0;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #8C6EFA;
    border-radius: 7px;
    font-weight: bold;
    font-size: 13px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.mainbody {
    background-color: #A6FFEF;
    padding: 90px 150px;
    font-family: sans-serif;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* mainbody */
.mainbody {
    background-color: #A6FFEF;
    font-family: sans-serif;
    letter-spacing: 1px;
    display: flex;
}

/* left mainbody */
.combined {
    display: flex;

}

.mainbody-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
}

.add-pm {
    margin-bottom: 20px;
    width: 300px;
    font-size: 22px;
}

.credit-card {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #231F20;
    padding: 20px;
    border-radius: 10px;
    height: 20px;
}

.cc-text {
    margin-right: 10px;
}

.compress-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    margin-right: 10px;
    border-radius: 7px;
}

/* right mainbody */
.mainbody-right {
    display: inline-block;
    width: 700px;
    background-color: #B09CFC;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.link-text {
    color: #231F20;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}

.card-details {
    font-size: 15px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-family : sans-serif;
    font-size : 15px;
    display: flex;
    flex-direction: column;
    font-weight: 550;
}

input[type="text"] {
    padding: 12px;
    width: 100%;
    border: 1px solid #231F20;
    border-radius: 7px;
    box-sizing: border-box;
    color: #333;
    margin: 7px 0px;
    height: 50px;
}

button[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background-color: #5D64FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    margin-bottom: 10px;
    width: 100%;
  }
  
button[type="submit"]:hover {
    background-color: blue;
}

/* footer */
footer {
    position : static;
    display : flex;
    padding: 15px 15px;
    background-color: #08ECC4;
    color: #000000;
    font-size : 14px;
 }

.flex-left {
    display : flex;
    flex-direction : column;
    width : 50%;
}

.copyright {
    font-weight : bold;
    margin-left : 15px;
}

.follow-us {
    font-weight : bold;
    color : #000000 ;
    margin-left : 15px;
}
  
.socmed {
    display : flex;
}
  
.socmedlogo {
    margin-left : 15px ;
}

.socmedlogo img {
    width : 25px;
}

footer ul li {
    list-style: none;
    margin-bottom : 20px;
    margin-right : 20px;
}

footer ul li .heading-text {
    font-weight : bold;
    font-size : 14px;
}

footer ul li a {
    display: block; 
    text-decoration: none; 
    font-size : 13px;
    color : black;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}