body {
  margin : 0; 
  letter-spacing : 0.5px;
  font-family : sans-serif;
}

/* navigation bar */
.navbar {
  height: 40px;
  background-color: #08ECC4;
  padding : 15px 15px ;
}

.logo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 550;
}

.service {
  font-weight : bold;
}

.topnav-left {
  float : left;
}

.topnav-right {
  float : right;
  margin-right: 20px;
}

nav ul { 
  position: relative;
  list-style: none; 
  margin: 0; 
  padding: 0; 
} 
 
nav ul li { 
  display: inline-block; 
} 

nav ul li a .logo {
  font-size : 20px;
}
 
nav ul li a { 
  display: block; 
  padding: 10px 17px;
  text-decoration: none; 
  font-size : 14px;
  color : black;
} 
 
nav ul li + li { 
  margin-left: 10px;
} 

/* Dropdown Menu Styles */
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.service, .profile {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.down-arrow{
  width: 15px;
  height: 15px;
  margin-left: -10px;
  margin-top: 2px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #B09CFC;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  border-radius: 7px;
  font-size: 13px;
  right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #8C6EFA;
  border-radius: 7px;
  font-weight: bold;
  font-size: 13px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* mainbody */
.mainbody {
  background-color: white;
  padding: 10px;
  height: 500px;
}

h1 { 
  color : black;
}

/* footer */
footer {
  position : static;
  display : flex;
  padding: 15px 15px;
  background-color: #08ECC4;
  color: #000000;
  font-size : 14px;
}

.flex-left {
  display : flex;
  flex-direction : column;
  width : 50%;
}

.copyright {
  font-weight : bold;
  margin-left : 15px;
}

.follow-us {
  font-weight : bold;
  color : #000000 ;
  margin-left : 15px;
}

.socmed {
  display : flex;
}

.socmedlogo {
  margin-left : 15px ;
}

.socmedlogo img {
  width : 25px;
}

footer ul li {
  list-style: none;
  margin-bottom : 20px;
  margin-right : 20px;
}

footer ul li .heading-text {
  font-weight : bold;
  font-size : 14px;
}

footer ul li a {
  display: block; 
  text-decoration: none; 
  font-size : 13px;
  color : black;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

/* Book ride page format */
.sub-title-text {
  color: #333;
  font-size: 22px;
  font-weight: bold;
  margin : 3px;
  text-align: start;
}


.ride-history-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 85px;
  margin-bottom: 80px;
  font-family: sans-serif;
  letter-spacing: 1px;
  
}

.rides-container {
  padding : 75px;
  padding-top: 65px;
  padding-bottom: 145px;
  width: 75%;
  background-color: #a6ffef;

}



/* For button image */

.compress-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  margin-right: 10px;
  border-radius: 7px;
}

/* Drop-down configuration */

.ride-dropdown-container {
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
}

.ride-inline-summary {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 0;
  border-radius: 10px;
  height: 12px;
  width: 100%;
  background-color: white;
  z-index: 11;
}

.summary-text {
  margin-right:10px;
  font: sans-serif;
  font-size: 85%;
  color: grey;
  font-weight: bold;
  padding-left: 20px;
}

.bottom-container {
  position: relative; 
  margin-top: 40px; 
  display: flex; 
  justify-content: center;
}

.book-ride-prompt-container {
  background-color: white;
  border-radius: 15px;
  width: 70%;
  z-index: 9;
  position: absolute;
  align-content: center;
  text-align: center;
}

.book-ride-prompt-text {
  font: sans-serif;
  font-size: 10;
}

button[type="submit"] {
  padding: 15px;
  background-color: #B09CFC;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 40px;
  width: 100%;
  font: sans-serif;
  color: black;
  z-index: 10;
  position: absolute;
}

button[type="submit"]:hover {
  background-color: #8C6EFA;
}

.ride-dropdown-details {
  z-index: 10;
  position: absolute;
  width: 1200px;
  margin-top: 35px;
  padding: 15px;
  padding-top: 40px;
  padding-bottom: 75px;
  background-color: white;
  border-radius: 10px;
}


