body {
  margin : 0; 
  letter-spacing : 0.5px;
  font-family : sans-serif;
  background-color : #A6FFEF;
}

/* navigation bar */
.navbar {
  overflow : hidden;
  background-color: #08ECC4;
  padding : 15px 15px ;
}

.login {
  font-weight : bold;
}

.topnav-left {
  float : left ;
}

.topnav-right {
  float : right ;
}

nav ul { 
  list-style: none; 
  margin: 0; 
  padding: 0; 
} 
 
nav ul li { 
  display: inline-block; 
} 

nav ul li a .logo {
  font-size : 20px;
}
 
nav ul li a { 
  display: block; 
  padding: 10px 20px;
  text-decoration: none; 
  font-size : 12px;
  color : black;
} 
 
nav ul li + li { 
  margin-left: 10px;
} 

/* Login */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  padding : 70px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-text {
  color: #333;
  font-family: Helvetica;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: bold;
  margin : 3px;
}

.login-text-div {
  margin-bottom : 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form p {
  margin-bottom: 7px;
}

form label {
  font-family : sans-serif;
  font-size : 14px;
}

input[type="password"],
input[type="email"] {
  font-family: Helvetica;
  padding: 12px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
  color: #333;
}

button[type="submit"] {
  padding: 10px;
  background-color: #B09CFC;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #8C6EFA;
}

.forgotPassword {
  text-align : right;
  padding : 10px;
  font-size : 12px;
  color : #000000;
  margin-bottom : 7px;
}

.noAccount {
  text-align: center;
  padding : 10px;
  font-size : 12px;
  color : #000000;
}

.login-image {
  height: 70.7%; /* Set the height of the container to match the form */
}

.login-image img {
  height: 100%; /* Set the height of the image to match the container */
  width: auto; /* Maintain aspect ratio */
}
