body {
    margin : 0; 
    letter-spacing : 0.5px;
    font-family : sans-serif;
}

/* navigation bar */
.navbar {
    height: 40px;
    background-color: #08ECC4;
    padding : 15px 15px ;
}

.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 550;
}

.neighbour, .service {
    font-weight : bold;
}

.topnav-left {
    float : left;
}

.topnav-right {
    float : right;
    margin-right: 20px;
}

nav ul { 
    position: relative;
    list-style: none; 
    margin: 0; 
    padding: 0; 
} 
   
nav ul li { 
    display: inline-block; 
} 

nav ul li a .logo {
    font-size : 20px;
}
   
nav ul li a { 
    display: block; 
    padding: 10px 17px;
    text-decoration: none; 
    font-size : 14px;
    color : black;
} 
   
nav ul li + li { 
    margin-left: 10px;
} 

/* Dropdown Menu Styles */
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.service, .profile {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.down-arrow{
    width: 15px;
    height: 15px;
    margin-left: -10px;
    margin-top: 2px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #B09CFC;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    border-radius: 7px;
    font-size: 13px;
    right: 0;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #8C6EFA;
    border-radius: 7px;
    font-weight: bold;
    font-size: 13px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* mainbody */
.mainbody {
    padding: 70px 200px;
    height: auto;
    font-family: sans-serif;
    letter-spacing: 1px;
}

/* left mainbody */
.mainbody-left {
    display: inline-block;
    padding: 30px 100px;
}

.prev-btn img {
    width: 30px;
    height: 30px;
    margin-top: 30px;
}

.combined {
    background-color: #FFFFFF;
    display: flex;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.accountInfo-text {
    color: #231F20;
}

.heading-text{
    font-size: 17px;
    color: #231F20;
    font-weight: 600;
    margin-top: 10px;
}

.profileImage-img {
    width : 200px;
}

.container-info {
    display: block;
    justify-content: center;
}

.placeholder {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 550;
}

.text-box {
    width: 250px;
    height: 30px;
    padding: 15px;
    border: 1px solid #231F20;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.text-box p {
    margin: 0;
    margin-top: 6px;
    color: #231F20;
    font-size: 15px;
}

/* right mainbody */
.mainbody-right {
    display: inline-block;
    position: relative;
    padding: 100px 150px;
}

.special-req {
    display: flex;
    flex-direction: column;
}

.special-req label {
    font-size : 15px;
    font-weight: 550;
    margin-bottom: 15px;
}
  
input[type="requirements"] {
    padding: 12px;
    width: 300px;;
    border: 1px solid #231F20;
    border-radius: 7px;
    box-sizing: border-box;
    color: #231F20;
    height: 50px;
}

button[onclick="addItem()"] {
    padding: 15px;
    background-color: #B09CFC;
    color: #231F20;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    margin: 15px 0px 10px;
    width: 300px;
    font-size: 15px;
}

li {
    margin-bottom: 7px;
}

button[onclick="addItem()"]:hover {
    background-color: #8C6EFA;
}

button[onclick="navigateToDriver()"] {
    padding: 15px;
    background-color: #B09CFC;
    color: #231F20;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    margin: 0px 0px 10px;
    width: 300px;
    font-size: 15px;
}

button[onclick="navigateToDriver()"]:hover {
    background-color: #8C6EFA;
}

.neighbor-action {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.accept-btn,
.reject-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.accept-btn {
    background-color: #4CAF50;
    color: white;
}

.accept-btn:hover {
    background-color: #45a049;
}

.reject-btn {
    background-color: #f44336;
    color: white;
}

.reject-btn:hover {
    background-color: #d32f2f;
}


/* footer */
footer {
    position : static;
    display : flex;
    padding: 15px 15px;
    background-color: #08ECC4;
    color: #000000;
    font-size : 14px;
 }

.flex-left {
    display : flex;
    flex-direction : column;
    width : 50%;
}

.copyright {
    font-weight : bold;
    margin-left : 15px;
}

.follow-us {
    font-weight : bold;
    color : #000000 ;
    margin-left : 15px;
}
  
.socmed {
    display : flex;
}
  
.socmedlogo {
    margin-left : 15px ;
}

.socmedlogo img {
    width : 25px;
}

footer ul li {
    list-style: none;
    margin-bottom : 20px;
    margin-right : 20px;
}

footer ul li .heading-text {
    font-weight : bold;
    font-size : 14px;
}

footer ul li a {
    display: block; 
    text-decoration: none; 
    font-size : 13px;
    color : black;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}