body {
  margin : 0; 
  letter-spacing : 0.5px;
  font-family : sans-serif;
}

/* navigation bar */
.navbar {
  height: 40px;
  background-color: #08ECC4;
  padding : 15px 15px ;
}

.logo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 550;
}

.register {
  font-weight: bold;
}

.topnav-left {
  float : left ;
}

.topnav-right {
  float : right;
  margin-right: 20px;
}

nav ul { 
  position: relative;
  list-style: none; 
  margin: 0; 
  padding: 0; 
} 
 
nav ul li { 
  display: inline-block; 
} 

nav ul li a .logo {
  font-size : 20px;
}
 
nav ul li a { 
  display: block; 
  padding: 10px 17px;
  text-decoration: none; 
  font-size : 14px;
  color : black;
} 
 
nav ul li + li { 
  margin-left: 10px;
} 

/* Dropdown Menu Styles */
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.service, .profile {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.down-arrow{
  width: 15px;
  height: 15px;
  margin-left: -10px;
  margin-top: 2px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #B09CFC;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  border-radius: 7px;
  font-size: 13px;
  right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #8C6EFA;
  border-radius: 7px;
  font-weight: bold;
  font-size: 13px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Register */
.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.register-form {
  padding : 65px;
  background-color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}

.register-text {
  color: #333;
  font-size: 22px;
  font-weight: bold;
  margin : 3px;
}

.register-text-div {
  margin-bottom : 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form p {
  margin-bottom: 7px;
}

form label {
  font-family : sans-serif;
  font-size : 15px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 12px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
  color: #333;
  margin-top: 5px;
}

button[type="submit"] {
  padding: 10px;
  background-color: #B09CFC;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  margin-bottom: 10px;
  margin-top : 20px;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #8C6EFA;
}

.haveAccount {
  text-align: center;
  padding : 10px;
  font-size : 14px;
  color : #000000;
}

.register-img {
  height: 78.2%; /* Set the height of the container to match the form */
}

.register-img img {
  height: 100%; /* Set the height of the image to match the container */
  width: auto; /* Maintain aspect ratio */
}